#OPTIONS
Options All -Indexes
Options +FollowSymLinks

#REWRITE PARAMETERS
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?load=$1 [PT,L]
</IfModule>

#PROTECT .HTACCESS
<Files .htaccess>
    order allow,deny
    deny from all
</Files>
